<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'theme/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'theme/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/93195478fa.js"
      crossorigin="anonymous"
    ></script>
    <title>Tienda | Actualizar</title>
  </head>
  <body>
    <header>
      <nav class="bar">
        <div class="logo">
          <i class="fa-brands fa-shopify bar_icon"></i
          ><a class="bar_title" href="{% url 'home' %}">Tienda de cosas</a>
        </div>
      </nav>
      <div class="products"><h1 class="products_title">Actualizar</h1></div>
    </header>
    <main>
        
      <form class="product-form" method="POST">
        {% csrf_token %} 
        <label for="name" class="input-label">Nombre:</label>
        <table class="input-form">
          {{form.nombre}}
        </table>
        <label for="category">Categoria:</label>
          {{form.categoria}}
        <label for="price">Precio:</label>
          {{form.precio}}

        <button class="card_function --update" type="submit">Actualizar</button>

      </form>
      <input class="card_function --cancelar" type="button" onclick="history.back()" name="volver atrás" value="Volver">

    </main>
    <footer></footer>
  </body>
</html>
